misc/supporting_files/.gitconfig
packaging_tools/supporting_files/.devscripts
logs/backup_files_logfile
logs/changed_files_logfile
util/variables/name
util/variables/email_address
util/variables/gpg_key_id
util/variables/salsa_token
